<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			html * { padding:0; margin:0; }
			body * { padding:10px 20px; }
			body * * { padding:0; }
			body { font:small sans-serif; }
			body>div { border-bottom:1px solid #ddd; }
			h1 { font-weight:normal; }
			h2 { margin-bottom:.8em; }
			h2 span { font-size:80%; color:#666; font-weight:normal; }
			h3 { margin:1em 0 .5em 0; }
			h4 { margin:0 0 .5em 0; font-weight: normal; }
			code, pre { font-size: 100%; white-space: pre-wrap; }
			table { border:1px solid #ccc; border-collapse: collapse; width:100%; background:white; }
			tbody td, tbody th { vertical-align:top; padding:2px 3px; }
			thead th { padding:1px 6px 1px 3px; background:#fefefe; text-align:left; font-weight:normal; font-size:11px; border:1px solid #ddd; }
			tbody th { width:12em; text-align:right; color:#666; padding-right:.5em; }
			table.vars { margin:5px 0 2px 40px; }
			table.vars td, table.req td { font-family:monospace; }
			table td.code { width:100%; }
			table td.code pre { overflow:hidden; }
			table.source th { color:#666; }
			table.source td { font-family:monospace; white-space:pre; border-bottom:1px solid #eee; }
			ul.traceback { list-style-type:none; color: #222; }
			ul.traceback li.frame { padding-bottom:1em; color:#666; }
			ul.traceback li.user { background-color:#e0e0e0; color:#000 }
			div.context { padding:10px 0; overflow:hidden; }
			div.context ol { padding-left:30px; margin:0 10px; list-style-position: inside; }
			div.context ol li { font-family:monospace; white-space:pre; color:#777; cursor:pointer; }
			div.context ol li pre { display:inline; }
			div.context ol.context-line li { color:#505050; background-color:#dfdfdf; }
			div.context ol.context-line li span { position:absolute; right:32px; }
			.user div.context ol.context-line li { background-color:#bbb; color:#000; }
			.user div.context ol li { color:#666; }
			div.commands { margin-left: 40px; }
			div.commands a { color:#555; text-decoration:none; }
			.user div.commands a { color: black; }
			#summary { background: #ffc; }
			#summary h2 { font-weight: normal; color: #666; }
			#explanation { background:#eee; }
			#template, #template-not-exist { background:#f6f6f6; }
			#template-not-exist ul { margin: 0 0 0 20px; }
			#unicode-hint { background:#eee; }
			#traceback { background:#eee; }
			#requestinfo { background:#f6f6f6; padding-left:120px; }
			/*#summary table { border:none; background:transparent; }*/
			#requestinfo h2, #requestinfo h3 { position:relative; margin-left:-100px; }
			#requestinfo h3 { margin-bottom:-1em; }
			.specific { color:#cc3300; font-weight:bold; }
			h2 span.commands { font-size:.7em;}
			span.commands a:link {color:#5E5694;}
			pre.exception_value { font-family: sans-serif; color: #666; font-size: 1.5em; margin: 10px 0 10px 0; }
			.parameters span:nth-child(even) { background-color: #eee;}
			.parameters span {
				display: inline-block;
				padding: 5px 10px;
			}
			
			#summary { background: #ffc; }
			#summary .data {
				border: none;
				background: transparent;
			}

			.source {
				background: white;
				border: 2px solid #eee;
			}
			.source td {
				font-family:monospace;
				white-space:pre;
				border-bottom:1px solid #eee;
			}

			.indent {
				padding-left: 20px;
			}

			.error { background: #fee; }
			.error td:last-of-type {
				color: red;
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<div id="summary">
			{{ .Request.Route.Name }}
			<h1>Error at {{ .Request.URL.Path }}</h1>
			<h2>{{ .Error.Description }}</h2>
			<table class="data">
				<tr><td>Error Path:</td><td>{{ .Error.Path }} (line {{ .Error.Line }})</td></tr>
				<tr><td>Request Method:</td><td>{{ .Request.Method }}</td></tr>
				<tr><td>Request URL: </td><td>{{ .Request.FullURL }}</td></tr>
				<tr><td></td><td></td></tr>
				<tr><td>Request Protocol: </td><td>{{ .Request.Proto }}</td></tr>
				<tr><td>Go Version: </td><td>{{ .GoVersion }}</td></tr>
				<tr><td>Do Version: </td><td>{{ .Conf.Version }}</td></tr>
				<tr><td>Server Time: </td><td>{{ .Time }}</td></tr>
			</table>
			{{ .Error.Lines }}
		</div>
		<div id="template">
			<h2>Stack Trace</h2>
			{{ range $v := reverse .Error.Stack }}
				<b>{{ $v.Path }}
				{{ if eq $v.Content "" }}
					(line {{ $v.Line }} at {{ $v.Extra }})
					<div class="indent">{{ $v.Caller }}</div><br></b>
				{{ else }}
					</b><br>{{ $v.Content }}<br>
				{{ end }}
			{{ end }}</b>
		</div>
		<div id="requestinfo">
			<h2>Request Information</h2>
			<h3>GET</h3>
			{{ template "/variableList.html" .Request.URL.Query }}
			<h3>POST</h3>
			{{ template "/variableList.html" .Request.PostForm }}
			<h3>COOKIES</h3>
			{{ template "/variableList.html" .Cookies }}
		</div>
		<div id="requestinfo">
			<h2>Configuration</h2>
			<h3>Path</h3>
			{{ template "/variableList.html" .Path }}
		</div>		
	</body>
</html>