{{ if . }}
	<table class="req">
		<thead><tr><th>Key</th><th>Value</th></tr></thead>
		<tbody>
		{{ range $k, $v := . }}
			<tr><td>{{ $k }}</td><td>{{ if eq (len $v) 1 }}{{ index $v 0 }}{{ else }}{{ $v }}{{ end }}</td></tr>
		{{ end }}
		</tbody>
	</table>
{{ else }}
	None
{{ end }}