<div class="cache-stats">
	{{ with .Overall }}
		<div class="percent">
			<div class="used" style="width:{{ .UsedPercent }}%;white-space:nowrap"><div class="text" style="text-align:right">{{ .UsedPercent }}% Load</div></div>
		</div>
		<table class="overall">
			<tr class="items">
				<th>Items</th>
				<td>{{ .PrimaryCount }} primary</td>
				<td>{{ .GroupItemCount }} in {{ .GroupCount }} groups</td>
				<td>{{ .ItemCount }} total</td>
			</tr>
			<tr class="bytes">
				<th>Bytes</th>
				<td>{{ .Used }} used ({{ .UsedPercent }}%)</td>
				<td>{{ .Free }} free ({{ .FreePercent }}%)</td>
				<td>{{ .Size }} max</td>
			</tr>
		</table>
	{{ end }}
	{{ range $k, $s := .Sections }}
		<h3>{{ $s.Group.Name }}</h3>
		<table class="{{ if eq $k 0 }}primary{{ else }}group{{ end }}">
			<thead>
				<tr><th></th>
					<th colspan="3">Totals</th>
					<th colspan="3">Percent of Group</th>
					<th colspan="3">Percent of Overall</th>
				</tr>
				<tr><th>Key</th>{{ (repeat "<th>Size</th><th>Hits</th><th>Popularity</th>" 3) | html }}</tr>
			</thead>
			<tbody>
				{{ range $i := $s.Items }}
					<tr><td>{{ $i.Key }}</td>
						<td>{{ $i.Size }}</td><td>{{ $i.Hits }}</td><td>{{ $i.Popularity }}</td>
						{{ with $i.Percent }}
							<td>{{ .GroupSize }}%</td><td>{{ .GroupHits }}%</td><td>{{ .GroupPopularity }}%</td>
							<td>{{ .Size }}%</td><td>{{ .Hits }}%</td><td>{{ .Popularity }}%</td>
						{{ end }}
					</tr>
				{{ end }}
			</tbody>
			<tfoot>
				{{ with $s.Group }}
					<tr><th>Total</th>
						<th>{{ .Size }}</th><th>{{ .Hits }}</th><th>{{ .Popularity }}</th>
						<th>-</th><th>-</th><th>-</th>
						<th>{{ .Percent.Size }}%</th><th>{{ .Percent.Hits }}%</th><th>{{ .Percent.Popularity }}%</th>
					</tr>
				{{ end }}
			</tfoot>
		</table>
	{{ end }}
</div>
